<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="" https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="" stylesheet">
    <title>MediPool</title>
</head>

<body>
    <header>
        <div class="flex justify-center  bg-no-repeat  bg-cover h-full md:bg-center"
            style="background-image:url('https://scontent.fblr20-2.fna.fbcdn.net/v/t1.15752-9/306906365_784310422801042_4128406534039147312_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=ae9488&_nc_ohc=9gmT9eWeMNgAX_YIBRB&_nc_ht=scontent.fblr20-2.fna&oh=03_AdRD1UzQzIR2LiisH2hMpOWj3hpogXNSQSPtP-252TQC8A&oe=636ED887')">
            <div class="flex flex-col items-center ">
                <nav class="self-center w-full max-w-7xl ">
                    <div
                        class="flex md:flex-row flex-col justify-between items-center md:items-start border-b-2 border-blue-900">
                        <h1 class=" py-4 text-2xl font-sans font-bold px-10">MediPool</h1>
                        <ul class="flex  items-center text-sm md:text-[18px] font-bold  md:px-10 my-2">
                            <li
                                class="hover:underline  underline-offset-4 decoration-2 decoration-cyan-500 py-2 rounded-lg px-2 md:px-5">
                                <a href="#">Home</a>
                            </li>
                            <li class="hover:underline  underline-offset-4 decoration-2 decoration-cyan-500 py-2 rounded-lg px-2 md:px-5">
                                <a href="#sectionContact">Contact</a>
                            </li>
                            <li
                                class="hover:underline  underline-offset-4 decoration-2 decoration-cyan-500 py-2 rounded-lg px-2 md:px-5">
                                <a href="#sectionPatners">Patners</a>
                            </li>
                            <li
                                class="hover:underline underline-offset-4 decoration-2 decoration-cyan-500 py-2 rounded-lg px-2 md:px-5">
                                <a href="#middleServices">Services</a>
                            </li>
                            
                        </ul>

                    </div>
                </nav>
                <div class="flex flex-col justify-center items-center text-center  max-w-7xl   my-8 py-4 px-10">
                    <h1 class="text-base font-medium tracking-wider ">"Fixing the problem of today by using Technology
                        of Tomorrow"</h1>
                    <span class="underline underline-offset-2 text-gray-700-mt-3"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp;
                        &nbsp; </span>
                    <div class="flex flex-col text-gray-700mt-5">
                        <h1 class=" text-blue-900 text-4xl md:text-[50px] font-semibold">Welcome!</h1>
                        <p class="text-blue-900 text-xl mt-2 md:mt-4 tracking-wide">Diagnose - Treatment - Cure</p>
                    </div>
                    <p class="mt-4 text-sm md:w-[52%] tracking-wide leading-7">Our platform, which is motivated by the
                        fundamental demand-supply rule of economics, serves to various domains of healthcare while
                        dealing with complicated challenges.
                        All of the features mentioned have been thoroughly investigated and are supported by several
                        articles and real-world case studies.</p>
                    <div class="space-x-3 mt-6 md:mt-4 text-white">
                        <a href="https://www.facebook.com"> <i
                                class="fa-brands fa-facebook-f bg-blue-600 hover:text-blue-500 hover:bg-white rounded-full px-3 py-[11px] w-9 h-9 text-center "></i>
                        </a>
                        <a href="https://twitter.com"> <i
                                class="fa-brands fa-twitter bg-blue-600 hover:text-red-500 hover:bg-white rounded-full px-[10px] py-[11px] w-9 h-9 text-center"></i>
                        </a>
                        <a href="https://www.linkedin.com/feed/"> <i
                                class="fa-brands fa-linkedin bg-blue-600 hover:text-yellow-500 hover:bg-white rounded-full px-3 py-[11px] w-9 h-9 text-center"></i>
                        </a>
                        <a href="https://github.com/Manipal-Hackathon-2022/Team-CODEV"> <i
                                class="fa-brands fa-chrome bg-blue-600 hover:text-indigo-600 hover:bg-white rounded-full px-[10px] py-[11px] w-9 h-9 text-center"></i>
                        </a>

                    </div>
                    <div class="flex mt-10 space-x-5">
                        <a href="https://docmed-11.herokuapp.com/"><button
                            class="bg-blue-900 text-white border-2 border-white px-6 py-2 hover:brightness-105 font-semibold">Diagnostic
                            Center</button></a>
                        <a href="/leasing/"><button class="bg-white text-blue-900 px-6 py-2 hover:brightness-105 font-semibold">Leasing</Center></button></a>
                        <a href="/api/secondAdvice/"><button
                            class="bg-blue-900 text-white border-2 border-white px-6 py-2 hover:brightness-105 font-semibold">Second
                            Advice</button></a>

                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://kit.fontawesome.com/290d4f0eb4.js" crossorigin="anonymous"></script>
    </header>

    <section id="middleServices">
        <div class="flex justify-center  p-4">
            <div class="flex flex-col justify-center items-center ">
                <div class="text-stone-600  font-medium">Our Services</div>
                <div class="text-blue-900 text-3xl md:text-5xl font-medium">Why Medipool?</div>
                <div class="text-stone-600 my-4 md:font-medium text-center w-3/4 md:w-1/2">We envision creating a
                    platform that tackles the problem at multiple avenues. </div>
                <div class="flex flex-col md:flex-row max-w-7xl justify-center items-center ">

                    <div class="overflow-hidden w-full m-4 flex justify-center rounded-lg  md:w-[33%] px-8">

                        <div class="flex flex-col md:flex-row items-center justify-center  ">
                            <div class="  items-center justify-center flex py-2">
                                <div class="flex flex-col  items-center justify-center text-center">
                                    <img src="https://betterhealthwhileaging.net/wp-content/uploads/2015/07/bigstock-Doctor-Discussing-Records-With-41853415.jpg"
                                        alt="" class="rounded-full cursor cursor-pointer" />
                                    <div class="text-stone-500  m-2"> We will take your symptoms as input and give the
                                        likelihood of diseases that may concern. Ou aim to connect patients with pin
                                        pointed doctors using our ML Model.</div>
                                    <div class="font-bold text-blue-900">Second Advice Feature</div>
                                    <div class="text-sm font-medium text-stone-500 hover:text-blue-900"><a
                                            href="#">Board
                                            Want a Second Advice?</a></div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="overflow-hidden w-full m-4 flex justify-center rounded-lg  md:w-[33%] px-8">
                        <div class="flex flex-col md:flex-row items-center justify-center  ">
                            <div class="  items-center justify-center flex py-2">
                                <div class="flex flex-col  items-center justify-center text-center">
                                    <img src="https://www.trustcapitalusa.com/hubfs/Best%20Medical%20Equipment%20Leasing%20Companies.png"
                                        alt="" class="rounded-full cursor-pointer" />
                                    <div class="text-stone-500  m-2"> We establish a connection between financial
                                        institutions and hospitals to create a leasing contract in exchange for
                                        recurring payments based on bonds.
                                        .</div>
                                    <div class="font-bold text-blue-900">Leasing Feature</div>
                                    <div class="text-sm font-medium text-stone-500 hover:text-blue-900"><a
                                            href="#">Lease Equipments With us</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="overflow-hidden w-full m-4 flex justify-center rounded-lg  md:w-[33%] px-8">

                        <div class="flex flex-col md:flex-row items-center justify-center  ">
                            <div class="  items-center justify-center flex py-2">
                                <div class="flex flex-col  items-center justify-center text-center">
                                    <img src="https://images.unsplash.com/photo-1630128042309-60a8bfb987c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80"
                                        alt="" class="rounded-full cursor-pointer" />
                                    <div class="text-stone-500  m-2"> You can check for the nearest diagnostic center
                                        near you here and get checked up. Let us enable health care accessibility for
                                        all .</div>
                                    <div class="font-bold text-blue-900">Diagnostic Center</div>
                                    <div class="text-sm font-medium text-stone-500 hover:text-blue-900"><a
                                            href="#">Centralizd Diagnostic centers
                                        </a></div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    </section>
    <div id="sectionPatners" class="flex justify-center  p-4 bg-gray-900">
        <div class="text-white text-3xl md:text-5xl font-medium text-center pd-5px">Our Banking Partners</div>
        <div class="flex justify-center">
            <div class="flex flex-col justify-center items-center "></div>
            <div class="flex flex-col max-w-7xl justify-center items-center">
                <div class="flex md:flex-row flex-col max-w-7xl justify-center items-center">

                    <div
                        class="overflow-hidden bg-white m-2 shadow-lg flex flex-col md:flex-row justify-center w-3/4 md:w-1/2 hover:scale-105 hover:brightness-90">
                        <div class="h-26 w-full overflow-hidden"> <img
                                src="https://imgs.search.brave.com/Sg9lXlUo6KWEhO1kB5dsir3xr8iTbqp-3My9DHA2WR0/rs:fit:850:450:1/g:ce/aHR0cHM6Ly90ZWNo/b2JzZXJ2ZXIuaW4v/d3AtY29udGVudC91/cGxvYWRzLzIwMTcv/MDYvQXhpcy1CYW5r/LmpwZw "
                                alt="" class="" /> </div>
                        <div class="grid p-2">
                            <div class="font-bold text-lg text-black m-2 ">Axis Bank
                            </div>
                        </div>
                    </div>
                    <div
                        class="overflow-hidden bg-white m-2 shadow-lg flex flex-col md:flex-row justify-center w-3/4 md:w-1/2 hover:scale-105 hover:brightness-90">
                        <div class="h-26 w-full overflow-hidden"> <img
                                src="https://imgs.search.brave.com/X-aY5OFs4GUvtcG-MF4vR4Z7F4X_t6w3m8QhsSQ6DOM/rs:fit:1200:630:1/g:ce/aHR0cHM6Ly8zLmJw/LmJsb2dzcG90LmNv/bS8tZlJkV3liZVhX/UHMvWEFxdzRRSlpH/bkkvQUFBQUFBQUFC/c2svUk5KTnlMLWJh/RGNJWVMwZjMtMVlz/cG1Ja3p4VkpIMFhR/Q0s0QkdBWVlDdy93/MTIwMC1oNjMwLXAt/ay1uby1udS9TQkkt/bG9nby5qcGc"
                                alt="" class="" /> </div>
                        <div class="grid p-2">
                            <div class="font-bold text-lg text-black m-2 ">State Bank of India
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex md:flex-row flex-col max-w-7xl justify-center items-center">
                    <div
                        class="overflow-hidden bg-white m-2 shadow-lg flex flex-col md:flex-row justify-center w-3/4 md:w-1/2 hover:scale-105 hover:brightness-90">
                        <div class="h-26 w-full overflow-hidden"> <img
                                src="https://imgs.search.brave.com/EbhVc2hVHU1dOe7mn8aRjP_fS1NtVK_izq1P1wfkIjo/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9sb2dv/cy13b3JsZC5uZXQv/d3AtY29udGVudC91/cGxvYWRzLzIwMjAv/MTEvSERGQy1CYW5r/LUxvZ28ucG5n "
                                alt="" class="" /> </div>
                        <div class="grid p-2">
                            <div class="font-bold text-lg text-black m-2 ">HDFC Bank
                            </div>
                        </div>
                    </div>
                    <div
                        class="overflow-hidden bg-white m-2 shadow-lg flex flex-col md:flex-row justify-center w-3/4 md:w-1/2 hover:scale-105 hover:brightness-90">
                        <div class="h-26 w-full overflow-hidden"> <img
                                src="https://imgs.search.brave.com/EPYH9yq2kHciIyMCXpmlb88sNEfwWcnM49gDPWUrfiE/rs:fit:696:385:1/g:ce/aHR0cHM6Ly90aGVp/bmRpYW5idWxsZXRp/bi5jb20vd3AtY29u/dGVudC91cGxvYWRz/LzIwMjAvMTEvS290/YWstNjk2eDM4NS0x/LmpwZw "
                                alt="" class="" /> </div>
                        <div class="grid p-2">
                            <div class="font-bold text-lg text-black m-2 ">Kotak Mahindra Bank
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.tailwindcss.com"></script>
    </div>

    <section>
        <div class="flex justify-center  p-4 bg-gray-900">
            <div class="text-white text-3xl md:text-5xl font-medium text-center pd-5px">Hospital Partners</div>
            <div class="flex justify-center">

                <div class="flex justify-center">
                    <div class="flex flex-col md:flex-row max-w-7xl justify-center items-center ">
                        <div
                            class="overflow-hidden md:w-1/4 bg-white m-4 shadow-lg flex flex-col justify-center text-black hover:text-white hover:bg-pink-500 hover:scale-105 rounded">
                            <div class="h-26 w-full overflow-hidden"><a href="#"> <img
                                        src="https://imgs.search.brave.com/pi_4MT2EuHW50IPR-Zw41Q1jwpGPmY-NsJsJAqbegBw/rs:fit:1200:800:1/g:ce/aHR0cHM6Ly93d3cu/dGhlbmV3c21pbnV0/ZS5jb20vc2l0ZXMv/ZGVmYXVsdC9maWxl/cy9hcG9sbG8taG9z/cGl0YWxzLWxvZ28u/anBn"
                                        alt="" class="" /> </div>
                            <div class="font-medium text-normal m-2"></div>Apollo Hospitals</a>
                        </div>
                        <div
                            class="overflow-hidden md:w-1/4 bg-white m-4 shadow-lg flex flex-col justify-center text-black hover:text-white hover:bg-pink-500 hover:scale-105 rounded">
                            <div class="h-26 w-full overflow-hidden"><a href="#"> <img
                                        src="https://imgs.search.brave.com/cIPPuuvLDStTgCJmryOILIIJeIwVfYtDzwX0kCgj2ns/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9tbWEu/cHJuZXdzd2lyZS5j/b20vbWVkaWEvMTAw/NjY1Mi9NYW5pcGFs/X0hvc3BpdGFsc19M/b2dvLmpwZz9wPXB1/Ymxpc2g"
                                        alt="" class="" /> </div>
                            <div class="font-medium text-normal m-2">Manipal Hospitals </div> </a>
                        </div>
                        <div
                            class="overflow-hidden md:w-1/4 bg-white m-4 shadow-lg flex flex-col justify-center text-black hover:text-white hover:bg-pink-500 hover:scale-105 rounded">
                            <div class="h-26 w-full overflow-hidden"><a href="#"> <img
                                        src="https://imgs.search.brave.com/mv5qcnVni0ieU39wl3RYeugvleylSNPgo-llOBXDqDQ/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9sb2dv/cy1kb3dubG9hZC5j/b20vd3AtY29udGVu/dC91cGxvYWRzLzIw/MjEvMDEvRm9ydGlz/X0hlYWx0aGNhcmVf/TG9nby5wbmc"
                                        alt="" class="" /> </div>
                            <div class="font-medium text-normal m-2">Fortis Hospital</div> </a>
                        </div>
                        <div
                            class="overflow-hidden md:w-1/4 bg-white m-4 shadow-lg flex flex-col justify-center text-black hover:text-white hover:bg-pink-500 hover:scale-105 rounded">
                            <div class="h-26 w-full overflow-hidden"><a href="#"> <img
                                        src="https://imgs.search.brave.com/qll7x93svrmND_T46KnpvVf-r1qpuNYRrBbDYCARr0c/rs:fit:696:346:1/g:ce/aHR0cHM6Ly9jYW1w/dXNhbmRqb2JzLmNv/bS93cC1jb250ZW50/L3VwbG9hZHMvMjAx/OC8wMi9BSUlNUy1i/aG9wYWwuanBn"
                                        alt="" class="" /> </div>
                            <div class="font-medium text-normal m-2">AIIMS Hospitals </div> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.tailwindcss.com"></script>
    </section>

    <body>

        <footer>
            <div id="sectionContact"
                class="md:flex hidden bg-white-900 p-3 flex-col text-center pt-5 space-y-8 md:flex-row md:justify-between md:space-y-0">
                <div
                    class="flex mx-3 justify-between space-x-20 md:flex-row text-black-200 md:space-x-28 md:ml-20 lg:ml-24 lg:space-x-[13rem] xl:space-x-72 xl:ml-24">
                    <p>@ Copyright <strong></strong>MediPool</p>
                    <p>Team <span class="text-blue-600">Codev</span></p>
                    <p>Gourav | Sayantan | Pramod | Aditi | Awantika <span
                            class="text-blue-600 text-align space-y-0 lg:space-x-[4rem]"></span></p>
                </div>
            </div>
            </div>
            </div>
            </div>
        </footer>
    </body>
</body>

</html>